 #main-part-footer {
  display: flex;
  gap: 100px;  /*Space between the two sections */
  padding: 15px;
  flex-wrap: wrap;
  margin-left: 50px;
}

 
  h2 {
  
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 65px;
}


.column-link {
  display: flex;
  gap: 100px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.column a {
  text-decoration: none;
  color: rgb(69, 69, 69);
  margin: 5px 0;
  font-size: 16px;
}
a:hover{
      text-decoration: underline;
      font-size: 16px;
      cursor: pointer;
      
}


#footer{
    display: flex;
    margin-top: 25px;
    padding-bottom: 10px;
    margin-left: 0px;
    
}
 #left{
         margin: 30px;
         padding-left: 80px;  
 }
.rihgt
{
    margin-right: 15px;     
}
.download{
              display: flex; 
              margin-left: 85px;
              margin-top: 30px;          
}
.social-icons{
                
                margin-left: 60px;
}
.p_1{
     margin-left: 5px; 
     width: 90px;   
     height: 25px;
}
.p2{
     margin-left: 5px;
     height: 25px;
     width: 90px;
}
.text{
       margin-left: 80px;
       margin-right: 50px;
       padding-bottom: 80px;
}
.Small {
    display: none; /* Desktop pe hidden */
}

/* Responsive for smaller screens */
@media screen and (max-width: 1000px) {
    footer {
        display: none; /* Footer hide */
    }
    .Small {
        display: block;
        height: auto;       /* height auto rakhne se aspect ratio safe rahega */
        max-width: 360px;   /* maximum width 250px */
        margin: 10px 0px 10px 10x;  /* center align horizontally */
    }
}