body{
   margin: 0;
   padding-top: 0;
   visibility:hidden;

 }
 header{  
     position:fixed;
     height: 95px;
     width: 98%;
     display: flex;
     justify-content: space-between; 
     padding-right: 40px;
     align-items: center;
     background-color:rgb(250, 251, 252);
     border-bottom:  2.0px  solid whitesmoke;
     text-align: center;
     flex-wrap:wrap;

 }
 b{
    font-size:20px;
   }  
  #logo{
         padding-left: 30px;
         font-size: 45px;
         color: orange;
         cursor:pointer;   
      }

      #it{
        color: rgb(138, 239, 83);
      }

      #it:hover{
        text-decoration: none;
        font-size:45px ;
      }
  #location{
    cursor: pointer;
  } 
  @media screen and (max-width:1100px){
  #location{
    display: none;
  }  
}  
  #search{
        height: 70px;
        max-width: 500;
       display: flex;
      align-items: center;
              
  }
  #icon{
         background-color: rgb(245, 241, 241);
         padding-top: 10px;
         padding-bottom: 10px;
         padding-left: 5px;
         justify-items: center;
         border-radius: 6px 0px 0px 6px;
         border: 0;
  }

  .search_input{
    height: 20px;
    max-width:220px;
    width: 30%;
    flex-grow: 1;
    padding-top: 15px;
    padding-right: 300px;
    padding-bottom: 13px;
    border-radius: 0px 6px 6px 0px ;
    background-color: rgb(245, 241, 241);; 
    border: 0; 

  } 
  #logout {
    
    display: none;
    font-size: 25px;  
  }
  .logout{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap:5px;
  }

  .logout:hover{
      text-decoration: none;
      font-size: 25px;
  }
 #signup a{
  text-decoration: none;
  font-size: 25px;
  color: black;
}

#signup a:hover{
  text-decoration: none;
  font-size: 25px;
}

.userid{
      height: 40px;
  }

  @media screen and (max-width: 400px) {
  #signup {
    display: none !important;
  }
}


  #my_cart{
          background-color:rgb(209, 207, 207); 
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 15px;
          padding-top: 5px; 
          border-radius: 6px 6px 6px 6px; 
          text-align: center;
          font-size: 20px;
          display: flex;
          transition: 0.2s;        
    }

   
    .cart1{
      align-items: center;
      justify-content: space-between;
      padding-top: 8px;
      padding-bottom: 0px;
      padding-right: 5px;
    
    }
    #cart{        
           padding-top: 10px;
           color: black;
           display: flex;
           flex-grow: 1;
           color: white;
    }
   

    @media screen and (max-width:1024px){
  #my_cart{
    display: none;
  }
}

#maintenance{
  display: none;
  margin-top: 200px;
  margin-left: 380px;
  background-color:rgb(244, 240, 240);
  height: 250px;
  width: 760px;
  color:red; 
  border: ridge 1px black;
  border-radius: 10px; 
}
.offmsg{
  font-size: 25px;
  color: black;
}
@media screen and (max-width: 500px) { 
#maintenance{
     height: auto;
     width: 100%;
     margin: 50px auto;
}
.offmsg{
    font-size: 30px;
} 
}


