body{
  background-color: #f0f0f0;;
}
#itemcart{
     margin-left: 600px;
     margin-top:100px;
     border: ridge 2px;
     border-radius: 18px;
     height: 530px;
     width: 375px;
     align-items: center;
     font-size: larger;
     background-color: white;
}
p{
  margin-left: 120px;
}
#mycart{
    font-size: 35px;
    color: black;
}

#process{
       display: block;
       text-align:center;
       color:black;
       text-decoration: none;
       background-color: rgb(30, 239, 30);
       cursor: pointer;
       margin-top: 15px;
       padding: 15px;
       border-radius: 10px;
       font-size: large;
       margin: 15px  40px 0px 80px;  
       padding-right: 70px;
       padding-left: 50px;
}

#process:hover{
        background-color :#0d6efd;
        color: white;
        
}
