body{
            font-family: Arial, sans-serif;
      background: #f0f0f0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
           }
         
           #signupform{
             background: white;
             padding: 30px;
             border-radius: 12px;
             box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
             width: 300px;
           }

           h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    img{
      height: 100px;
      width: 100px;
      margin-left:100px;
    }
    input {
      width: 100%;
      padding: 10px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
    button {
      width: 100%;
      padding: 10px;
      background: #28a745;
      color:white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
    button:hover {
      background: #218838;
    }
    #login_form{
      text-align: center;
      margin: 10px;
    }
    
    #login_form a{
      color: #007bff;; 
      text-decoration: none;
    }