body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
        }

        /* Top Navbar */
        .navbar {
            background-color: #0c831f;
            padding: 15px 30px;
            color: white;
            font-size: 20px;
            font-weight: bold;
        }

        .container {
            display: flex;
            justify-content: center;
            margin-top: 40px;
            padding: 15px;
        }

        .card {
            background: white;
            width: 450px;
            border-radius: 15px;
            box-shadow: 0 5px 20px rgba(0,0,0,0.1);
            padding: 25px;
        }

        .success {
            text-align: center;
        }

        .success-icon {
            font-size: 55px;
            color: #0c831f;
        }

        .eta {
            background: #e8f8ec;
            padding: 10px;
            border-radius: 8px;
            margin-top: 15px;
            font-size: 14px;
            color: #0c831f;
            text-align: center;
        }

        .section {
            margin-top: 20px;
        }

        .items {
            background: #fafafa;
            padding: 10px;
            border-radius: 8px;
            font-size: 14px;
        }

        .items p {
            margin: 6px 0;
            display: flex;
            justify-content: space-between;
        }

        .btn {
            margin-top: 20px;
            width: 100%;
            padding: 12px;
            background: #0c831f;
            color: white;
            border: none;
            border-radius: 10px;
            font-size: 15px;
            cursor: pointer;
        }

        .btn:hover {
            background: #096b18;
        }

        @media(max-width:500px){
            .card{
                width:100%;
            }
        }